.complaints-container {
    position: absolute;
    left: 350px;
    top: 0px;
    height: 900px;
    width: 71%;
    margin-top: 70px;
  }
  
  

  .complaints-heading {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .complaints-text {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
  }
  
  .complaints-form {
    width: 100%;
  }
  
  .complaint-label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .complaint-textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
  }
  
  .complaint-submit {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .complaint-submit:hover {
    background-color: #0056b3;
  }
  