.stats-container {
    position: absolute;
    left: 350px;
    top: 0px;
    height: 900px;
    width: 71%;
    margin-top: 70px;
}

.Headings {
    margin: 10px;
    margin-top: 27px;
}

.Heading-text {
    text-align: left;
    color: #575353;
    font-size: 32px;
    font-weight: bold;
}



.phImage1 {
    width: 600.46px;
    height: 407.55px;
    margin-top: 20px;
    border: 5px solid #C0BEFB;
    border-radius: 20px;
}

.box {
    width: 221.17px;
    height: 170.52px;
    background-color: #f6f6fa;
    margin: 5px;
    border-radius: 20px;
    align-content: center;
    border: 3px solid #F187AB;
}

.box2 {
    width: 221.17px;
    height: 170.52px;
    background-color: #f6f6fa;
    margin: 5px;
    border-radius: 20px;
    border: 3px solid #F187AB;
}

.box3 {
    width: 221.17px;
    height: 170.52px;
    background-color: #f6f6fa;
    margin: 5px;
    border-radius: 20px;
    border: 3px solid #F187AB;
}

.box4 {
    width: 221.17px;
    height: 170.52px;
    background-color: #FAF0;
    margin: 5px;
    border-radius: 20px;
    border: 3px solid #F187AB;
}

.row1{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 40px;
}

.row2 {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.stats_box {
    display: flex;
    flex-direction: row;
}

.graph-image {
    width: 506.46px;
    height: 407.55px;
  }
  

  .center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  